<div class="sobre">
  <div class="foto-1-sobre">
    <img
      src="../../../assets/imagens/foto-ricardo-sobre-bg.png"
      width="400"
      alt=""
    />
  </div>
  <div class="texto-1-sobre">
    <span>
      <h4>Programador por Paixão!</h4><br/>
      <p>Migrei de uma carreira consolidada na área de marketing por pura paixão, meu objetivo era: FAZER O QUE EU AMO!
        Mesmo desfrutando de uma carreira em crescimento resolvi abrir mão e migrar para o mundo da programação e 
        trabalhar com tecnologi: meu antigo e sempre vivo sonho.</p>
    </span>
  </div>
</div>
