* {
  padding: 0;
  margin: 0;
}

body {
  background-image: url(../../../assets/imagens/background-tech-2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  padding-block: 7%;
}

.sobre {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
}

.foto-1-sobre {
  width: 300px;
}

.texto-1-sobre {
  width: 37vw;
  align-self: center;
  text-align: justify;
  color: rgb(24, 24, 63);
}

@media (max-width: 750px) {
  .sobre {
    width: auto;
    padding-block: 20px;
    padding-inline: 40px;
    display: flex;
    justify-content: center;
  }
  .texto-1-sobre {
    width: 85vw;
  }
  .foto-1-sobre {
    display: none;
  }
}