<body>
  <div class="sobre" id="bloco-sobre">
  
    <div class="foto-1-sobre">
      <ng-lottie 
        class="lottie"
        containerClass="moving-box another-class"
        [options]="options"
        (animationCreated)="onAnimate($event)"
      ></ng-lottie>
    </div>
  
    <div class="texto-1-sobre">
      <span>
        <h4>Sobre mim</h4><br/>
        <p>Aprecio o trabalho em equipe e gosto de descobrir novas formas de resolver 
          problemas através da tecnologia. Estudar para mim, se tornou um hobby.<br/><br/>
          Já trabalhei com as linguagens PHP e C# e atualmente desenvolvo em Java. 
          Durante um pequeno período fui desenvolvedor full-stack e antes de ser desenvolvedor 
          atuei como Product Owner em times de desenvolvimento de software e inovação.<br/><br/>
          Fui também analista de requisitos e negócios e consultor de gestão, coordenei treinamentos 
          de equipes, desenvolvi e implantei sites e e-commerces.</p>
      </span>
    </div>

  </div> 
</body>
