<body>
  <div class="sobre" id="bloco-sobre">
  
    <div class="foto-1-sobre">
      <ng-lottie 
        class="lottie"
        containerClass="moving-box another-class"
        [options]="options"
        (animationCreated)="onAnimate($event)"
      ></ng-lottie>
    </div>
  
    <div class="texto-1-sobre">
      <span>
        <h4>Sobre mim</h4><br/>
        <p>Aprecio o trabalho em equipe e gosto de solucionar problemas através da tecnologia. 
          Estudar, para mim, se tornou um hobby, gosto de descobrir novas formas de resolver 
          problemas. Trabalhei com as linguagens PHP e C# e atualmente desenvolvo 
          em Java. Me dedico constantemente em me aprimorar para vencer os desafios que surgem no 
          mundo back-end. Trabalhei um pequeno período como desenvolvedor full-stack e antes da minha 
          migração de carreira atuei como P.O (Product Owner) em equipes de desenvolvimentos de 
          softwares e inovações. Fui também analista de requisitos e negócios, além de consultor de 
          gestão, coordenei treinamentos de equipes, planejei e implantei a gestão em e-commerces, 
          planejei processos da área de logística e fiz gestão de orçamentos dos setores em que atuei. 
          Atualmente estou cursando Análise e Desenvolvimento de Sistemas e sou pós-graduado em marketing 
          com formação superior em administração de empresas..</p>
      </span>
    </div>

  </div> 
</body>
