.area-footer {
  width: auto;
  color: white;
  padding: 5%;
  display: grid;
  grid-template-areas: "imagem-footer dados-pessoais redes-sociais texto-footer-1 texto-footer-2";
  gap: 15px;
  background-image: url(../../../assets/imagens/bg-footer-7.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.item-footer {
  height: 15vh;
  max-width: 250px;
  min-width: 150px;
}
.imagem-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid gray;
}
.texto-footer-1 {
  border-right: 1px solid gray;
}
.texto-rodape {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1em;
}
.texto-footer-1 a {
  text-decoration: none;
}
.texto-footer-2 a {
  text-decoration: none;
}
.redes-sociais {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-right: 1px solid gray;
  line-height: 2.5em;
}
.dados-pessoais {
  border-right: 1px solid gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  line-height: 1em;
}
.link-redes-sociais {
  text-decoration: none;
}

@media (max-width: 750px) {

  * {
    padding: 0;
    margin: 0;
  }

  .area-footer {
    display: grid;
    grid-template-areas:
      "item-footer"
      "item-footer"
      "item-footer"
      "item-footer"
      "item-footer";
    padding: 10%;
    flex-direction: column;
    justify-content: center;
  }

  .imagem-footer {
    border: none;
    width: 180px!important;
    height: auto;
  }

  .imagem-footer img {
    width: 180px!important;
    height: auto;
  }

  .dados-pessoais {
    border: none;
    height: auto;
    padding-block: 10px;
    line-height: 1.5em;
    color: rgb(150, 150, 150);
  }

  .redes-sociais {
    border-right: none;
    height: auto;
  }

  .texto-footer-1 {
    border: none;
    height: auto;
  }

  .texto-footer-2 {
    border: none;
    height: auto;
  }

}