.footer {
  width: auto;
}
.area-footer {
  width: auto;
  color: white;
  padding: 5%;
  display: grid;
  grid-template-areas: "imagem-footer dados-pessoais redes-sociais texto-footer-1 texto-footer-2";
  gap: 15px;
  /* justify-content: center; */
  background-image: url(../../../assets/imagens/bg-footer-7.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}
.item-footer {
  height: 15vh;
  max-width: 250px;
  min-width: 150px;
}
.imagem-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid gray;
}
.texto-footer-1 {
  border-right: 1px solid gray;
}
.texto-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.2em;
}
.texto-footer-1 a {
  text-decoration: none;
}
.texto-footer-2 a {
  text-decoration: none;
}
.redes-sociais {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-right: 1px solid gray;
  line-height: 2.5em;
}
.dados-pessoais {
  border-right: 1px solid gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  line-height: 1em;
}
.link-redes-sociais {
  text-decoration: none;
}

@media (max-width: 820px) {
  .footer {
    grid-template-areas: 
    "item-footer item-footer";
  }
}
@media (max-width: 520px) {
  .footer {
    grid-template-areas:
      "item-footer";
  }
}