<section class="footer">
  <div class="area-footer">
    <div class="item-footer imagem-footer">
      <img
        src="../../../assets/imagens/foto-redonda.png"
        width="auto"
        height="130px"
        alt="Foto Ricardo Redonda"
      />
    </div>
    <div class="item-footer dados-pessoais">
      <div class="meu-nome">
        <p>Ricardo Alves</p>
      </div>
      <div class="meu-telefone">
        <p>(34) 9 9842-8752</p>
      </div>
      <div class="meu-telefone">
        <p>Desenvolvedor Backend</p>
      </div>
    </div>
    <div class="item-footer redes-sociais">
      <div class="linkedin">
        <a
          href="https://www.linkedin.com/in/ricardo-alves-8a660428"
          target="_blank"
          class="link-redes-sociais"
        >
          <img
            src="../../../assets/imagens/linkedin.png"
            width="28"
            alt="Icone Linkedin"
          />&nbsp;&nbsp;&nbsp;Meu Linkedin
        </a>
      </div>
      <div class="github">
        <a
          href="https://github.com/ricardoalves21"
          target="_blank"
          class="link-redes-sociais"
        >
          <img
            src="../../../assets/imagens/github.png"
            width="28"
            alt="Icone Linkedin"
          />&nbsp;&nbsp;&nbsp;Meu Github
        </a>
      </div>
    </div>
    <div class="item-footer texto-footer-1 texto-footer">
      <a href="#bloco-sobre">Sobre Mim</a><br />
      <a href="#bloco-carreira">Carreira</a>
    </div>
    <div class="item-footer texto-footer-2 texto-footer">
      <a href="#bloco-portfolio">Portfólio</a><br />
      <a href="#bloco-contato">Contato</a>
    </div>
  </div>
</section>
