.portfolio {
    background-color: rgb(0, 0, 0);
    padding-top: 7%;
    padding-bottom: 7%;
  }
  
.titulo-trabalhos {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5%;
    color: rgb(180, 180, 180)!important;
}

.trabalhos {
    display: grid;
    grid-template-areas: "card card card card";
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.cartao {
    width: 15vw;
    height: 30vh;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 12%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 0, 0);

}

.cartao img {
    height: 100px;
    width: auto;
}

.tech-java {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 115px;
    width: auto;
}

.tech-spring {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: auto;
}

.tech-typescript {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: auto;
}

.tech-lottie {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: auto;
}

.tech-bootstrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: auto;
}

.tech-html {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: auto;
}

.tech-java img {
    height: 115px!important;
    width: auto;
}

.tech-spring img {
    height: 75px!important;
    width: auto;
}

.tech-typescript img {
    height: 75px!important;
    width: auto;
}

.tech-lottie img {
    height: 90px!important;
    width: auto;
}

.tech-bootstrap img {
    height: 75px!important;
    width: auto;
}

.tech-html img {
    height: 70px!important;
    width: auto;
}

.card-descricoes {
    width: 100%;
}

.icon-typescript {
    height: auto;
    width: 60px!important;
}

.card-title {
    font-size: 10pt;
}


.card-descricoes h6 {
    color: rgb(156, 156, 156)!important;
    padding-block: 2%;
}

.card-text {
    text-align: left;
    width: 100%;
    font-weight: 500;
    color: #58abff;
    font-size: 10pt;
}

ul li {
    color: rgb(180, 180, 180)!important;
    font-size: 10pt;
}

.link-projeto {
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.git-portfolio {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3vh;
    margin-left: 1vw;
}

.titulo-portfolio a {
    color: rgb(161, 161, 161);
    text-decoration: none;
    cursor: pointer;
}

  
  


@media (max-width: 750px) {

.trabalhos {
    display: grid;
    grid-template-areas: 
    "trabalho-filho" 
    "trabalho-filho" 
    "trabalho-filho";
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.titulo-trabalhos {
    padding: 8%;
}

.cartao {
    width: 80vw!important;
}

.link-projeto {
    padding-inline: 7%;
}

.git-portfolio {
    margin-left: 2vw;
}

}