<section class="portfolio">

    <div class="titulo-trabalhos">
      <h4 class="titulo-portfolio">Este Portfolio foi desenvolvido com as seguintes tecnologias</h4>
    </div>
   
    <div class="trabalhos">
  
        <div class="cartao">
            <div class="tech-java">
                <img
                src="../../../assets/imagens/java.png"
                alt="Imagem de capa do card"
              />
            </div>
            <div class="card-descricoes">
                <h6 class="card-title">JAVA</h6>
                <p class="card-text">Back-end</p>
            </div>
        </div>
  
        <div class="cartao">
            <div class="tech-spring">
                <img
                src="../../../assets/imagens/spring-logo.png"
                alt="Imagem de capa do card"
              />
            </div>
            <div class="card-descricoes">
                <h6 class="card-title">SPRING</h6>
                <p class="card-text">Back-end</p>
            </div>
        </div>
  
        <div class="cartao">
            <div class="tech-mysql">
                <img
                src="../../../assets/imagens/mysql.png"
                alt="Imagem de capa do card"
              />
            </div>
            <div class="card-descricoes">
                <h6 class="card-title">MYSQL</h6>
                <p class="card-text">Database</p>
            </div>
        </div>

        <div class="cartao">
            <div class="tech-typescript">
                <img
                src="../../../assets/imagens/typescript-2.png"
                alt="Imagem de capa do card"
              />
            </div>
            <div class="card-descricoes">
                <h6 class="card-title">TYPESCRIPT</h6>
                <p class="card-text">Front-end</p>
            </div>
        </div>

        <div class="cartao">
            <div class="tech-angular">
                <img
                src="../../../assets/imagens/angular.png"
                alt="Imagem de capa do card"
              />
            </div>
            <div class="card-descricoes">
                <h6 class="card-title">ANGULAR</h6>
                <p class="card-text">Front-end</p>
            </div>
        </div>

        <div class="cartao">
            <div class="tech-lottie">
                <img
                src="../../../assets/imagens/lottie.png"
                alt="Imagem de capa do card"
              />
            </div>
            <div class="card-descricoes">
                <h6 class="card-title">LOTTIE</h6>
                <p class="card-text">Animation</p>
            </div>
        </div>

        <div class="cartao">
            <div class="tech-bootstrap">
                <img
                src="../../../assets/imagens/bootstrap.png"
                alt="Imagem de capa do card"
              />
            </div>
            <div class="card-descricoes">
                <h6 class="card-title">BOOTSTRAP</h6>
                <p class="card-text">Front-end</p>
            </div>
        </div>

        <div class="cartao">
            <div class="tech-html">
                <img
                src="../../../assets/imagens/html-css.png"
                alt="Imagem de capa do card"
              />
            </div>
            <div class="card-descricoes">
                <h6 class="card-title">HTML | CSS</h6>
                <p class="card-text">Front-end</p>
            </div>
        </div>      
  
    </div>  

    <div class="link-projeto">
        <div class="github">
            <a href="https://github.com/ricardoalves21/Portfolio-Frontend/tree/main" target="_blank">
                <img
                src="../../../assets/imagens/github.png"
                width="30"
                alt="Icone Linkedin"
                />
            </a>
        </div>
        <div class="git-portfolio">
            <p class="titulo-portfolio">
                <a href="https://github.com/ricardoalves21/Portfolio-Frontend/tree/main" target="_blank">
                    A descrição e o código desse projeto estão em meu Github
                </a>
            </p>
        </div>
    </div>
  
  </section>
  