.carreira {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 800px;
  gap: 50px;
  /* background-color: rgb(24, 24, 63); */
  width: auto;
  background-image: url(../../../assets/imagens/bg-animado-5.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  
  z-index: -99;
}

.foto-1-carreira {
  display: flex;
  align-self: center;
  align-items: center;
  padding-top: 5%;
}

.titulo-carreira {
  color: #4C9EF0;
}

.texto-1-carreira {
  width: 500px;
  align-self: center;
  text-align: justify;
  color: #cbe5ff;
  line-height: 2.0em;
  background-color: black;
  padding: 2%;
  border-radius: 30px;
  opacity: 75%;
}