<div class="carreira" id="bloco-carreira">
  <div class="texto-1-carreira">
    <span>
      <h4 class="titulo-carreira">Carreira</h4>
      <br /> 
      <p class="texto">
        Já trabelhei com as linguagens PHP e C# e atualmente desenvolvo em Java. 
        Aprecio o trabalho em equipe e amo
        solucionar problemas por meio da tecnologia. Estudar, se tornou um hobby
        e uma das coisas que mais gosto de fazer na programação é descobrir
        novas formas de fazer as coisas. <br />
        Trabalhei um pequeno período também como desenvolvedor full-stack e
        antes da minha migração atuei como P.O (Product Owner) em equipes de
        desenvolvimentos de softwares e inovações tecnológicas. Fui analista de
        requisitos e negócios, além de consultor de gestão, coordenei
        treinamentos de equipes, planejei e implantei a gestão em e-commerce,
        planejei processos da área de logística e também fiz gestão de
        orçamentos dos setores que atuei. Atualmente estou cursando Análise e
        Desenvolvimento de Sistemas. Sou pós-graduado em marketing com formação
        superior em administração de empresas.
      </p>
    </span>
  </div>
  <div class="foto-1-carreira">
    <img
      src="../../../assets/imagens/imagem-ricardo.jpeg"
      width="400"
      height="auto"
      style="border-radius: 30px;"
      alt=""
    />
  </div>
</div>
