* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

header {
    padding-inline: 16px;
    padding-block: 16px;
    border-bottom: 1px solid rgb(78, 78, 78);

    background-image: url(../../../assets/imagens/bg-navbar-1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.nav {
    max-width: 1280px;
    height: 70px;
    margin-inline: auto;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar-brand img {
    max-width: 230px;
}

.logo img {
    max-width: 300px;
}

.nav-list {
    display: flex;
    gap: 32px;
    list-style: none;
}

.nav-list a {
    font-size: 16px;
    color: #4DA1F4;
    padding-block: 16px;
}

.nav-list a:hover {
    color: #8ec7ff;
}

.menu-mobile {
    padding-inline: 16px;
    padding-block: 16px;
}

.offcanvas-header {
    padding-inline: 16px;
    padding-block: 16px;
}

.nav-item a {
    padding-inline: 16px;
    font-size: 16px;
    color: #4DA1F4;
    padding-block: 16px;
}

.redes-sociais {
    display: flex;
    width: 70px;
    justify-content: space-between;  
    margin-right: 50px;
  }

.text-bg-dark {
    background-color: #212529d7!important;
}