.nav-link {
  color: #96C6F7;
}

.menu-principal {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 15vh;
  width: 100%;
  border-bottom: 1px solid gray;
  position: fixed;
  top: 0;
  margin-top: 0;
  z-index: 99;
}

.logo {
  align-self: center;
}

.menu-opcoes {
  align-self: center;
}

.grupo-menu {
  width: 400px;
  justify-content: space-between;
}