<div id="menu-home-ancora">
  <nav class="navbar navbar-dark bg-dark menu-principal">
    <div class="logo">
      <a class="navbar-brand" href="#">
        <img
          src="../assets/imagens/Logo Portfolio.png"
          width="300"
          class="d-inline-block align-top"
          alt=""
        />
      </a>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light menu-opcoes">
      <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Alterna navegação">
        <span class="navbar-toggler-icon"></span>
      </button> -->
      <ul class="navbar-nav grupo-menu">
        <li class="nav-item active">
          <a class="nav-link" href="#bloco-sobre">Sobre mim</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#bloco-carreira">Carreira</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#bloco-portfolio">Portfólio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#bloco-contato">Contato</a>
        </li>
      </ul>
    </nav>
    <div class="redes-sociais">
      <div class="linkedin">
        <a
          href="https://www.linkedin.com/in/ricardo-alves-8a660428"
          target="_blank"
        >
          <img
            src="../../../assets/imagens/linkedin.png"
            width="28"
            alt="Icone Linkedin"
          />
        </a>
      </div>
      <div class="github">
        <a href="https://github.com/ricardoalves21" target="_blank">
          <img
            src="../../../assets/imagens/github.png"
            width="28"
            alt="Icone Linkedin"
          />
        </a>
      </div>
    </div>
  </nav>
</div>