.menu-home-ancora {
  background-color: black;
}

.nav-link {
  color: #96C6F7;
}

.menu-principal {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 12vh;
  width: 100vw;
  border-bottom: 1px solid gray;
  position: fixed;
  top: 0;
  margin-top: 0;
  z-index: 99;
}

.logo {
  align-self: center;
}

.logo img {
  width:300px;
}

.menu-opcoes {
  align-self: center;
}

.grupo-menu {
  width: 350px;
  justify-content: space-between;
}
.redes-sociais {
  display: flex;
  width: 70px;
  justify-content: space-between;    
}
 
.hamburger {
 border: none; 
 background: none;
 border-top: 3px solid #fff;
 cursor: pointer;
 display: none;
}

.hamburger::before,
.hamburger::after {
  content: " ";
  display: block;
  width: 30px;
  height: 30px;
  background: #fff;
  margin-top: 5px;
}

@media (max-width: 750px) {

  .hamburger {
    display: block;
  }
  .logo img {
    width:150px;
  }

} 