.portfolio {
  background-image: url(../../../assets/imagens/background-tech-2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  padding: 5%;
}

.titulo-trabalhos {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.trabalhos {
  display: grid;
  grid-template-areas: "trabalho-filho trabalho-filho trabalho-filho";
  gap: 20px;
  justify-content: center;
  align-items: center;
}

@media (max-width: 750px) {

  .trabalhos {
    display: grid;
    grid-template-areas: 
    "trabalho-filho" 
    "trabalho-filho" 
    "trabalho-filho";
    gap: 20px;
    justify-content: center;
    align-items: center;
    background-color: none;
  }
  .titulo-trabalhos {
    padding-block: 40px;
  }
  .card {
    width: 80vw!important;
  }
}

.card {
  opacity: 100%;
  justify-content: center;
  align-items: center;
  width: 20vw;
  height: auto;
}

.btn-primary {
  background-color: #3976b4;
  width: 100%;
}

.btn-primary:hover {
  background-color: #3b6188;
}

.card-title {
  font-size: 10pt;
}

.card-body {
  width: 100%;
}

.card-text {
  text-align: left;
  width: 100%;
  font-weight: 500;
  color: #3976B4;
  font-size: 10pt;
}

ul li {
  color: gray;
  font-size: 10pt;
}

