<section class="portfolio" id="bloco-portfolio">
 
  <div class="titulo-trabalhos">
    <h4 class="titulo-portfolio">Meus Trabalhos</h4>
  </div>

  <div class="trabalhos">

    <div class="trabalho-filho">
      <div class="card">
        <div class="box-marcas">
          <img
            class="card-img-top"
            style="width: 14rem"
            src="../../../assets/imagens/logo-paixao-biju-pagina-construcao.png"
            alt="Imagem de capa do card"
          />
        </div>
        <div class="card-body">
          <h6 class="card-title">E-Commerce Paixão Biju</h6>
          <p class="card-text">Front-end</p>
          <ul>
            <li>Javascript</li>
            <li>HTML</li>
            <li>Bootstrap</li>
          </ul>
          <p class="card-text">Back-end | API</p>
          <ul>
            <li>PHP</li>
            <li>WordPress</li>
          </ul>
          <p class="card-text">Database</p>
          <ul>
            <li>MYSQL</li>
          </ul>
          <a href="https://paixaobiju.com.br/" target="_blank" class="btn btn-primary">Conhecer</a>
          <button type="button" class="btn btn-success" (click)="openModalEcom2()">Detalhes do Projeto</button>
        </div>
      </div>
    </div>

    <div class="trabalho-filho">
      <div class="card">
        <div class="box-marcas">
          <img
            class="card-img-top"
            style="width: 14rem"
            src="../../../assets/imagens/logo-equiparts.png"
            alt="Imagem de capa do card"
          />
        </div>
        <div class="card-body">
          <h6 class="card-title">E-Commerce Equiparts Brasil</h6>
          <p class="card-text">Front-end</p>
          <ul>
            <li>Javascript</li>
            <li>HTML</li>
            <li>Bootstrap</li>
          </ul>
          <p class="card-text">Back-end | API</p>
          <ul>
            <li>PHP</li>
            <li>WordPress</li>
          </ul>
          <p class="card-text">Database</p>
          <ul>
            <li>MYSQL</li>
          </ul>
          <a href="https://equipartsbrasil.com.br/" target="_blank" class="btn btn-primary">Conhecer</a>
          <button type="button" class="btn btn-success" (click)="openModalEcom1()">Detalhes do Projeto</button>
        </div>
      </div>
    </div>

    <div class="trabalho-filho">
      <div class="card">
        <div class="box-marcas">
          <img
            class="card-img-top"
            style="width: 17rem"
            src="../../../assets/imagens/logo-juliana-korban.png"
            alt="Imagem de capa do card"
          />
        </div>
        <div class="card-body">
          <h6 class="card-title">Site Juliana Korban</h6>
          <p class="card-text">Front-end</p>
          <ul>
            <li>Javascript</li>
            <li>HTML</li>
            <li>Bootstrap</li>
          </ul>
          <p class="card-text">Back-end | API</p>
          <ul>
            <li>PHP</li>
            <li>WordPress</li>
          </ul>
          <p class="card-text">Database</p>
          <ul>
            <li>MYSQL</li>
          </ul>
          <a href="https://julianakorban.com.br/" target="_blank" class="btn btn-primary">Conhecer</a>
          <button type="button" class="btn btn-success" (click)="openModalSite()">Detalhes do Projeto</button>
        </div>
      </div>
    </div>

    <div class="trabalho-filho">
      <div class="card">
        <div class="box-marcas">
          <img
            class="card-img-top"
            style="width: 10rem"
            src="../../../assets/imagens/lista-tarefas.gif"
            alt="Imagem de capa do card"
          />
        </div>
        <div class="card-body">
          <h6 class="card-title">Lista de Tarefas</h6>
          <p class="card-text">Front-end</p>
          <ul>
            <li>Angular</li>
            <li>Typescript</li>
            <li>Bootstrap</li>
          </ul>
          <p class="card-text">Back-end | API</p>
          <ul>
            <li>Java</li>
            <li>Spring</li>
            <li>API Rest</li>
          </ul>
          <p class="card-text">Database</p>
          <ul>
            <li>MYSQL</li>
          </ul>
          <a href="https://tarefas.rical.dev.br/" target="_blank" class="btn btn-primary">Conhecer</a>
          <button type="button" class="btn btn-success" (click)="openModalTarefas()">Detalhes do Projeto</button>
        </div>
      </div>
    </div>

    <div class="trabalho-filho">
      <div class="card">
        <div class="box-marcas">
          <img
            class="card-img-top"
            style="width: 10rem"
            src="../../../assets/imagens/cadastro-clientes.gif"
            alt="Imagem de capa do card"
          />
        </div>
        <div class="card-body">
          <h6 class="card-title">Cadastro de Clientes</h6>
          <p class="card-text">Front-end</p>
          <ul>
            <li>Angular</li>
            <li>Typescript</li>
            <li>Bootstrap</li>
          </ul>
          <p class="card-text">Back-end | API</p>
          <ul>
            <li>Java</li>
            <li>Spring</li>
            <li>API Rest</li>
          </ul>
          <p class="card-text">Database</p>
          <ul>
            <li>MYSQL</li>
          </ul>
          <a href="https://clientes.rical.dev.br/" target="_blank" class="btn btn-primary">Conhecer</a>
          <button type="button" class="btn btn-success" (click)="openModalClientes()">Detalhes do Projeto</button>
        </div>
      </div>
    </div>

    <div class="trabalho-filho">
      <div class="card">
        <div class="box-marcas">
          <img
            class="card-img-top"
            style="width: 10rem"
            src="../../../assets/imagens/calculadora-basica.gif"
            alt="Imagem de capa do card"
          />
        </div>
        <div class="card-body">
          <h6 class="card-title">Calculadoras</h6>
          <p class="card-text">Front-end</p>
          <ul>
            <li>Angular</li>
            <li>Typescript</li>
            <li>Bootstrap</li>
            <li>Javascript</li>
          </ul>
          <p class="card-text">Back-end | API</p>
          <ul>
            <li>Java</li>
            <li>Spring</li>
          </ul>
          <p class="card-text">Database</p>
          <ul>
            <li></li>
          </ul>
          <a href="https://pagcalc.rical.dev.br/" target="_blank" class="btn btn-primary">Conhecer</a>
          <button type="button" class="btn btn-success" (click)="openModalCalculadoras()">Detalhes do Projeto</button>
        </div>
      </div>
    </div>

  </div>  

</section>

<div class="modal" tabindex="-1" id="modalTarefas">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Detalhes do Projeto</h5>
        <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
      </div>
      <div class="modal-body">
        <p>O projeto <span style="color: rgb(62, 62, 136);"> LISTA DE TAREFAS</span> foi feito pensando na necessidade das pessoas de controlarem suas tarefas 
          a fim de monitorarem seu fluxo de trabalho ou de sua equipe. Para os líderes de equipe, ao fazerem isso, eles podem verificar facilmente se há algum 
          gargalo no processo e tomar medidas necessárias. Isso minimiza o tempo de inatividade das pessoas, ajudando a melhorar o desempenho.<br/><br/>
          Ao incluir uma nova tarefa, o usuário poderá detalhar sua DESCRIÇÃO, incluir o NOME do responsável pela tarefa e também a ETAPA que ela se encontra (a fazer, fazendo ou feito).<br/><br/>
          No momento da inserção ou edição da tarefa, o usuário poderá ter uma prévia da visualização desta tarefa, verificando que, para cada etapa, é atribuída uma cor para no card da tarefa (vermelho para tarefas 'a fazer', azul para 'fazendo' e verde para
          'feito'.
        
        </p>
        
      </div>

      <div class="modal-footer"> 
        
        <div class="linkProjetoModal">

          <div class="link-github">
              <a href="https://github.com/ricardoalves21/Portfolio-Lista-Tarefas-Front/tree/main" target="_blank">
                  <img
                  src="../../../assets/imagens/github-2.png"
                  width="35"
                  alt="Icone Linkedin"
                  />
              </a>
          </div>

          <div class="git-portfolio">
              <p class="titulo-portfolio"><a href="https://github.com/ricardoalves21/Portfolio-Lista-Tarefas-Front/tree/main" target="_blank">Projeto no Github</a></p>
          </div>

        </div>

        <div class="btn-modal">        
          <button type="button" class="btn btn-light" data-bs-dismiss="modal" (click)="closeModalTarefas()">Fechar</button>
        </div>

      </div>

    </div>
  </div>
</div>

<div class="modal" tabindex="-1" id="modalClientes">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Detalhes do Projeto</h5>
        <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
      </div>
      <div class="modal-body">
        <p>O projeto <span style="color: rgb(62, 62, 136);"> CADASTRO DE CLIENTES</span> foi criado para demonstrar uma rotina muito comum no dia a dia das empresas: o cadastramento de clientes.
          É possível incluir no cadastro dados como: nome, email, telefone e endereço.<br/><br/>
          O projeto foi construído seguindo as boas práticas de desenvolvimento back-end de softwares, com uma arquitetura MVC composta por uma API REST em Java e Spring.
          Ao salvar o cadastro do cliente, as informações são persistidas no banco de dados (MySQL) que está hospedado em um servidor no ambiente Railway.<br/><br/>
          O fron-end do projeto foi construído em Angular (Typescript) seguindo as boas práticas de arquitetura de componentização, o que dá mais flexibilidade, desacoplamento, facilidade de manutanção 
          e ampla possibilidade de evolução do projeto.<br/><br/>        
        </p>
        
      </div>
      
      <div class="modal-footer"> 
        
        <div class="linkProjetoModal">

          <div class="link-github">
              <a href="https://github.com/ricardoalves21/Portfolio-Cadastro-Cliente-front" target="_blank">
                  <img
                  src="../../../assets/imagens/github-2.png"
                  width="35"
                  alt="Icone Linkedin"
                  />
              </a>
          </div>

          <div class="git-portfolio">
              <p class="titulo-portfolio"><a href="https://github.com/ricardoalves21/Portfolio-Cadastro-Cliente-front" target="_blank">Projeto no Github</a></p>
          </div>

        </div>

        <div class="btn-modal">        
          <button type="button" class="btn btn-light" data-bs-dismiss="modal" (click)="closeModalTarefas()">Fechar</button>
        </div>

      </div>

    </div>
  </div>
</div>

<div class="modal" tabindex="-1" id="modalCalculadoras">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Detalhes do Projeto</h5>
        <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
      </div>
      <div class="modal-body">
        <p>O projeto <span style="color: rgb(62, 62, 136);"> CALCULADORAS</span> foi criado para demonstrar as quatro operações básicas da matemática
          dispostas em dois modelos de calculadoras com layouts diferentes cujas operações serão realizadas de duas maneiras:</p>
          <ul>
            <li>A primeira calculadora (básica) possui campos de input onde o usuário poderá digitar os números a serem considerados na operação matemática e posteriormente poderá 
              clicar em qual operação (soma, subtração, multiplicação ou divisão) deseja realizar.</li>
            <li>A segunda calculadora (calculadora de mão) refere-se a uma calculadora tradicional, onde o usuário deverá clicar nos números a serem considerados no cálculo matemático e posteriormente
              clicar em qual operação deseja fazer.
            </li>
          </ul>
        <p>
          A interface (página) onde as duas calculadoras estão disponíveis para uso, foi desenvolvida em Angular, bem como a Calculadora Básica. Já a Calculadora de Mão (segunda calculadora) foi desenvolvida em Javascript puro.       
        </p>
        
      </div>
      
      <div class="modal-footer"> 
        
        <div class="linkProjetoModal">

          <div class="link-github">
              <a href="https://github.com/ricardoalves21/CalcPage" target="_blank">
                  <img
                  src="../../../assets/imagens/github-2.png"
                  width="35"
                  alt="Icone Linkedin"
                  />
              </a>
          </div>

          <div class="git-portfolio">
              <p class="titulo-portfolio"><a href="https://github.com/ricardoalves21/CalcPage" target="_blank">Projeto no Github</a></p>
          </div>

        </div>

        <div class="btn-modal">        
          <button type="button" class="btn btn-light" data-bs-dismiss="modal" (click)="closeModalTarefas()">Fechar</button>
        </div>

      </div>

    </div>
  </div>
</div>

<div class="modal" tabindex="-1" id="modalSite">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Detalhes do Projeto</h5>
      </div>
      <div class="modal-body">
        <p>O projeto <span style="color: rgb(62, 62, 136);"> Juliana Korban</span> trata-se de um site institucional criado para a consultadora de imagem e estilo Juliana. 
          Com o objetivo de apresentar ao mercado seus serviços, a consultoria ajuda as pessoas a melhorarem sua aparência e expressar sua personalidade e identidade através da escolha de roupas, 
          acessórios, maquiagem e cabelo.<br/><br/>
          Para o desenvolvimento deste projeto foi feita a criação da logomarca, bem como a paleta de cores da marca e os templates utilizados no site.
          O projeto foi construído a partir de um mapeamento detalhado do conceito da marca, dos serviços oferecidos, do seu posicionamento de mercado e da percepção de valor dos clientes.<br/><br/>
          A partir daí foi possível desenvolver um site que apresentasse ao públic a mensagem desejada pela consultora.
          Cada elemento: cores, ícones, imagens, textos e animações foram pensados e projetados a fim de que transmitissem uma mensagem de profissionalismo, confiança e credibilidade a fim de elevar o valor percebido
          dos serviços e alinhar tudo ao conceito proposto pela marca.
        </p>        
      </div>
      
      <div class="modal-footer">         
        <div class="linkProjetoModal">
          <!-- <div class="link-github">
              <a href="https://github.com/ricardoalves21/CalcPage" target="_blank">
                  <img
                  src="../../../assets/imagens/github-2.png"
                  width="35"
                  alt="Icone Linkedin"
                  />
              </a>
          </div>
          <div class="git-portfolio">
              <p class="titulo-portfolio"><a href="https://github.com/ricardoalves21/CalcPage" target="_blank">Projeto no Github</a></p>
          </div> -->
        </div>
        <div class="btn-modal">        
          <button type="button" class="btn btn-light" data-bs-dismiss="modal" (click)="closeModalSite()">Fechar</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal" tabindex="-1" id="modalEcom1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Detalhes do Projeto</h5>
      </div>
      <div class="modal-body">
        <p>O projeto <span style="color: rgb(62, 62, 136);"> Equiparts Brasil</span> trata-se de uma loja virtual (e-commerce) criada para a marca Equiparts 
          que possui uma loja física na cidade de Uberlândia.
          O objetivo deste projeto era ampliar a área de atuação em vendas da empresa, por meio de um canal de atendimento que ultrapassasse as barreiras geográficas.<br/><br/>
          Foram desenvolvidos templates personalizados para a plataforma, paleta de cores e iconografia.   Desde o cadastro do cliente até o check-out de pagamento da compra cada etapa foi planejada para que o usuário tivesse a melhor experiência possível.
          A UI (interface do usuário) também foi pensada para proporcionar uma experiência intuitiva, leve e objetiva.
          <br/><br/>
          Além da plataforma de vendas, foi desenvolvido também uma área administrativa para o gerenciamento da loja com funcionalidades como: cadastro de produtos, gerenciamento de estoques,
          cadastro de cupons promocionais e dashboards de resultados para acompanhamento dos gestores.
        </p>        
      </div>      
      <div class="modal-footer">         
        <div class="linkProjetoModal">
          <!-- <div class="link-github">
              <a href="https://github.com/ricardoalves21/CalcPage" target="_blank">
                  <img
                  src="../../../assets/imagens/github-2.png"
                  width="35"
                  alt="Icone Linkedin"
                  />
              </a>
          </div>
          <div class="git-portfolio">
              <p class="titulo-portfolio"><a href="https://github.com/ricardoalves21/CalcPage" target="_blank">Projeto no Github</a></p>
          </div> -->
        </div>
        <div class="btn-modal">        
          <button type="button" class="btn btn-light" data-bs-dismiss="modal" (click)="closeModalEcom1()">Fechar</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal" tabindex="-1" id="modalEcom2">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Detalhes do Projeto</h5>
      </div>
      <div class="modal-body">
        <p>O projeto <span style="color: rgb(62, 62, 136);"> Paixão Biju</span> trata-se de uma loja virtual (e-commerce) criada para a marca Paixão por Biju 
          que possui uma loja física na cidade de Uberlândia.
          O objetivo deste projeto era ampliar a área de atuação em vendas da empresa, por meio de um canal de atendimento que ultrapassasse as barreiras geográficas e levasse
          a todas as pessoas a qualidade dos produtos e o excelente atendimento oferecido pela loja.<br/><br/>
          Foram desenvolvidos templates personalizados para a plataforma, paleta de cores e iconografia. Cada detalhe foi pensado para transmitir ao público o conceito de refinamento
          e de qualidade tão primados pela marca.<br/><br/>
          Desde o cadastro do cliente até o check-out de pagamento da compra cada etapa foi planejada para que o usuário tivesse a melhor experiência possível.
          A UI (interface do usuário) também foi pensada para proporcionar uma experiência intuitiva, leve e objetiva.
          <br/><br/>
          Além da plataforma de vendas, foi desenvolvido também uma área administrativa para o gerenciamento da loja com funcionalidades como: cadastro de produtos, gerenciamento de estoques,
          cadastro de cupons promocionais e dashboards de resultados para acompanhamento dos gestores. Além de tudo isso, foi realizado também a integração do e-commerce com a plataforma de backoffice do cliente (ERP).
        </p>        
      </div>      
      <div class="modal-footer">         
        <div class="linkProjetoModal">
          <!-- <div class="link-github">
              <a href="https://github.com/ricardoalves21/CalcPage" target="_blank">
                  <img
                  src="../../../assets/imagens/github-2.png"
                  width="35"
                  alt="Icone Linkedin"
                  />
              </a>
          </div>
          <div class="git-portfolio">
              <p class="titulo-portfolio"><a href="https://github.com/ricardoalves21/CalcPage" target="_blank">Projeto no Github</a></p>
          </div> -->
        </div>
        <div class="btn-modal">        
          <button type="button" class="btn btn-light" data-bs-dismiss="modal" (click)="closeModalEcom2()">Fechar</button>
        </div>
      </div>
    </div>
  </div>
</div>
