.portfolio {
  background-image: url(../../../assets/imagens/background-tech-2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: auto;
  height: 700px;
}
.trabalhos {
  display: grid;
  grid-template-areas: "trabalho-filho trabalho-filho trabalho-filho";
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 500px;
}
.trabalho-filho {
  max-width: 300px;
  min-width: 250px;
  height: auto;
}
.titulo-trabalhos {
  height: 150px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 8%;
}
.card {
  justify-content: center;
  align-items: center;
}
