<section class="portfolio" id="bloco-portfolio">
  <div class="titulo-trabalhos">
    <h4 class="titulo-portfolio">Portfólio</h4>
  </div>
  <div class="trabalhos">
    <div class="trabalho-filho trabalho1">
      <div class="card filho-1" style="width: 15rem">
        <img
          class="card-img-top"
          style="width: 10rem"
          src="../../../assets/imagens/lista-tarefas.gif"
          alt="Imagem de capa do card"
        />
        <div class="card-body">
          <h6 class="card-title">LISTA DE TAREFAS</h6>
          <p class="card-text">Front-end</p>
          <ul>
            <li>Angular</li>
            <li>Typescript</li>
            <li>Bootstrap</li>
          </ul>
          <p class="card-text">Back-end | API</p>
          <ul>
            <li>Java</li>
            <li>Spring</li>
          </ul>
          <p class="card-text">Database</p>
          <ul>
            <li>MYSQL</li>
          </ul>
          <a href="#" class="btn btn-primary">Conhecer</a>
        </div>
      </div>
    </div>
    <div class="trabalho-filho trabalho2">
      <div class="card" style="width: 15rem">
        <img
          class="card-img-top"
          style="width: 10rem"
          src="../../../assets/imagens/cadastro-clientes.gif"
          alt="Imagem de capa do card"
        />
        <div class="card-body">
          <h6 class="card-title">CADASTRO DE CLIENTES</h6>
          <p class="card-text">Front-end</p>
          <ul>
            <li>Angular</li>
            <li>Typescript</li>
            <li>Bootstrap</li>
          </ul>
          <p class="card-text">Back-end | API</p>
          <ul>
            <li>Java</li>
            <li>Spring</li>
          </ul>
          <p class="card-text">Database</p>
          <ul>
            <li>MYSQL</li>
          </ul>
          <a href="#" class="btn btn-primary">Conhecer</a>
        </div>
      </div>
    </div>
    <div class="trabalho-filho trabalho3">
      <div class="card" style="width: 15rem">
        <img
          class="card-img-top"
          style="width: 10rem"
          src="../../../assets/imagens/calculadora-basica.gif"
          alt="Imagem de capa do card"
        />
        <div class="card-body">
          <h6 class="card-title">CALCULADORA BÁSICA</h6>
          <p class="card-text">Front-end</p>
          <ul>
            <li>Angular</li>
            <li>Typescript</li>
            <li>Bootstrap</li>
          </ul>
          <p class="card-text">Back-end | API</p>
          <ul>
            <li>Java</li>
            <li>Spring</li>
          </ul>
          <p class="card-text">Database</p>
          <ul>
            <li>MYSQL</li>
          </ul>
          <a href="#" class="btn btn-primary">Conhecer</a>
        </div>
      </div>
    </div>
  </div>
</section>
