<div class="portfolio">
  <h4 class="titulo-portfolio">Portfólio</h4>
  
  <div class="traballhos">
    
    <div class="trabalho-filho trabalho1">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../../../assets/imagens/imagem-ricardo.jpeg" alt="Imagem de capa do card">
        <div class="card-body">
          <h5 class="card-title">Título do card</h5>
          <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo do card.</p>
          <a href="#" class="btn btn-primary">Visitar</a>
        </div>
      </div>
    </div>

    <div class="trabalho-filho trabalho2">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../../../assets/imagens/imagem-ricardo.jpeg" alt="Imagem de capa do card">
        <div class="card-body">
          <h5 class="card-title">Título do card</h5>
          <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo do card.</p>
          <a href="#" class="btn btn-primary">Visitar</a>
        </div>
      </div>
    </div>

    <div class="trabalho-filho trabalho3">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../../../assets/imagens/imagem-ricardo.jpeg" alt="Imagem de capa do card">
        <div class="card-body">
          <h5 class="card-title">Título do card</h5>
          <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo do card.</p>
          <a href="#" class="btn btn-primary">Visitar</a>
        </div>
      </div>
    </div>
  </div>
</div>